/* /* .boxa{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: relative;
}
.boxb{
    background-color: rgb(104, 6, 18);
    width: 50;
    height: 50;
    position: absolute;
}

.sale-badge {
    background-color: #e74c3c;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
  }
  .product-card {
    position: relative;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
  }
  .product-card img {
    width: 100%;
    border-radius: 10px;
  }
  .product-card:hover {
    transform: scale(1.05); /* Phóng to sản phẩm nhẹ khi hover */
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Đổ bóng đậm hơn */
    /*transition: all 0.3s ease; /* Hiệu ứng mượt mà */

  /* .old-price {
    text-decoration: line-through;
    color: grey;
  }
  .new-price {
    color: #e74c3c;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .product-name {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  .product-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
  }  
   */
   /* .vertical-menu {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    height: 100%;
} */
.vertical-menu ul {
  list-style-type: none; /* Bỏ dấu chấm đầu dòng */
  padding: 0;
} 
.vertical-menu a {
    background-color: #62894cfc;
    color: white;
    display: block;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.vertical-menu a:hover {
    background-color: #308049;
    color: white;
}

.vertical-menu a.active {
    background-color: #b8f465;
    color: white;
}
.fooder{
  background-color: #f7aaaa;
}
/*sanpham
/*kẻ tiêu đề*/
.title-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.title-divider::before, .title-divider::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid #eee;
}

.title-divider:not(:empty)::before {
  margin-right: 0.5em;
}

.title-divider:not(:empty)::after {
  margin-left: 0.5em;
}

.title-text {
  color: #666;
  font-size: 20px;
  font-weight: 500;
}

/*nổi bóng*/
.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Tạo hiệu ứng chuyển đổi mượt mà */
}

.hover-effect:hover {
  transform: translateY(-10px); /* Dịch phần tử lên trên */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Tạo hiệu ứng bóng đổ */
}
/*menu bar*/
/* Ẩn menu con mặc định */
.nav-item .dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hiển thị menu con khi rê chuột qua mục menu chính */
.nav-item:hover .dropdown-menu {
  display: block;
  opacity: 1;
  position: absolute;
  background-color: #f7aaaa;
}



